<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9npo6h8lsiRmiPmG0BohELmfVqRRv-6jF6Q&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Mexican Pizza</h5>
                              <p class="card-text">Mexican Pizzas are delicious corn tortillas topped with beans, beef and all the delicious taco toppings you can imagine! </p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn4o4dhQSPDeu71_IARs2IO3RhX_R84QEaPA&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Choclate Muffin</h5>
                              <p class="card-text">Chocolate muffins made with cocoa and chocolate chips are full of chocolaty goodness! A little plain yogurt in the batter makes them super moist.</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkKuocES5i8EF8r4ES4AovOYigwuUjrpjY_A&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Gulab Jamun</h5>
                              <p class="card-text">Gulab jamun lit. "Rose water berry" or "Rose berry" is a sweet confectionary or dessert, originating in the Indian subcontinent</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>


                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTQUPVLuvkQoPueyQfgg7JCEFaSwK0Ncjc7A&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Choclate Cake</h5>
                              <p class="card-text">Chocolate cake or chocolate gâteau is a cake flavored with melted chocolate, cocoa powder, or both</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw5Ltv6YaX6ANy7BJM2XSMsOpDR7j1ozHmCg&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">White Forest</h5>
                              <p class="card-text">This white forest cake is a six-inch layer cake made of white cake layered between cherry filling and a white chocolate whipped cream frosting.
                            </p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">


                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuffLnd1rmgAM63Iyr3Jh3PTdzrFe6L9d3qQ&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Shirred Egg</h5>
                              <p class="card-text">Shirred eggs, also known as baked eggs, are eggs that have been baked in a flat-bottomed dish; the name originates from the type of dish in which it was traditionally baked</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIxPc-V0d3_n3l0uGo3Xke9nwHQczxCnCo0Q&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Garlic Prawns</h5>
                              <p class="card-text">Garlic Prawns Marinated in a beautiful garlic dressing, prawns are cooked and served in a delightful sauce.</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">


                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNnjY6dRAs2GbqMpk0MMyqI9CbxwnbeDQznA&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Tandoori Chicken</h5>
                              <p class="card-text">Tandoori chicken is a chicken dish prepared by roasting chicken marinated in yogurt and spices in a tandoor, a cylindrical clay oven. </p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZDSw7Kq_z6XURwid6Zz7ye3hco_OeSJrmEQ&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Rice$Veggies</h5>
                              <p class="card-text">This one-pot vegetable rice is a kids' absolute favorite dish. A simple and easy recipe that can be served on its own, or with the main course</p>
                              <a href="#" class="btn btn-primary">add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKObDBoN5faZMhcLVrF7wX8ZYa9riugdpBhQ&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Grilled Chicken</h5>
                              <p class="card-text">Grilled Chicken is a very popular recipe made with chicken, hung curd and spices like cumin powder and black pepper.</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
