<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="container">
                <div class="row g-3">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Discount cards</label>
                     <select name="" id="" class="form-control">
                        <option value="Get 50% OFF up to 100rs">Get 50% OFF up to 100rs</option>
                        <option value="10% OFF up to 150rs">10% OFF up to 150rs</option>
                        <option value="Rs 30 paytm cashback using paytm">Rs 30 paytm cashback using paytm</option>
                        <option value="Get Flat Rs 100 OFF HSBC card">Get Flat Rs 100 OFF HSBC card</option>
                     </select>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Address</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                        <label for="" class="form-label">Payment</label>
                        <select name="" id="" class="form-control">
                            <option value="paytym">paytym</option>
                            <option value="Cash on Delivery">Cash on Delivery</option>
                            <option value="Net banking">Net banking</option>
                            <option value="Google pay">Google pay</option>
                        </select>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <button class="btn btn-info">pay</button>
    
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>